*{
    /* margin:0px;
    padding: 0px; */
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    height: 150px;
    width: 150px;
    border: solid black 4px;
    border-radius: 25%;
    margin: 10px;
}

.a{
    background-color: #078daa;
}
.b{
    background-color: #53d0ec;
}
.c{
    background-color: #c4df16;
}
.d{
    background-color: #ddf056;
}



/* new extra class */
.flash{
    background-color: #fff;
}